@use "Box";

div.input-box {
    width: 100%;
    height: Box.$box-height - 340px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.dark {
        background-color: darkslategray;
        color: white;
        border-bottom-left-radius: Box.$box-border-radius;
        border-bottom-right-radius: Box.$box-border-radius;

        .input {
            color: white;
        }
    }
}

form.input-form {
    height: 100%;
    display: flex;
    align-items: center;
}

input.input {
    width: 280px;
    height: 30px;
    font-size: 1.1em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    outline: none;
}

button.send {
    width: 65px;
    height: 35px;
    margin-left: 20px;
    color: white;
    border-radius: 99px;
    border: none;
    background-color: dodgerblue;
    box-shadow: 0 0 5px white;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.send:disabled {
    background-color: gray;
}

i.fa-solid.fa-spinner {
    font-size: 1.2em;
    animation: spin steps(1, end) 1s infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    12.5% {
        transform: rotate(45deg);
    }
    25% {
        transform: rotate(90deg);
    }
    37.5% {
        transform: rotate(135deg);
    }
    50% {
        transform: rotate(180deg);
    }
    62.5% {
        transform: rotate(225deg);
    }
    75% {
        transform: rotate(270deg);
    }
    87.5% {
        transform: rotate(315deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
